* {
  margin: 0px;
  padding: 0px;
}

#navbar {
  position: absolute;
  right: 10vw;
  top: 4vh;
  width: 80%;
  height: 14vh;
  border-radius: 50px;
  background-color: white;
}
#navbar .tophead .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#navbar .tophead .container .logo img {
  display: block;
  align-items: center;
  position: relative;
  top: 2vh;
  left: 2vw;
}
#navbar .tophead .container .menu ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 4vh;
  padding-right: 4vw;
}
#navbar .tophead .container .menu li a {
  text-decoration: none;
  padding: 2vw;
  font-size: 16px;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: black;
  word-spacing: 2px;
  transition: background-color 0.3s, color 0.3s;
  padding: 0.7vw;
  margin: 1vw;
  border-radius: 15px;
}
#navbar .tophead .container .menu li a:hover {
  background-color: #7453fc;
  color: white;
  padding: 0.7vw;
  margin: 1vw;
  border-radius: 18px;
}

#homepage {
  width: 100%;
  height: 140vh;
  background-image: url(/multi-page-website/images/banner-bg.jpg);
  width: 100%;
  height: 140vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#homepage .lhs {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
  position: relative;
  top: 50vh;
  left: 8vw;
  gap: 30px;
}
#homepage .lhs .main-h {
  font-size: 26px;
}
#homepage .lhs .second-h {
  font-size: 30px;
  line-height: 8vh;
}
#homepage .lhs .paragraph {
  font-size: 16px;
  line-height: 4vh;
  word-spacing: 1px;
}
#homepage .lhs .button .explore {
  border: 1px solid #7453fc;
  font-weight: 540;
  height: 7vh;
  width: 11vw;
  background: transparent;
  color: white;
  border-radius: 25px;
  font-size: 15px;
  transition: background-color 0.5s ease, color 0.5s ease;
}
#homepage .lhs .button .watch {
  border: 1px solid #7453fc;
  font-weight: 540;
  height: 7vh;
  width: 11vw;
  background-color: #7453fc;
  color: white;
  border-radius: 25px;
  margin-left: 1vw;
  font-size: 15px;
  transition: background-color 0.5s ease, color 0.5s ease;
}
#homepage .lhs .button .explore:hover {
  background-color: #7453fc;
}
#homepage .lhs .button .watch:hover {
  background-color: white;
  color: #7453fc;
}
#homepage .rhs .man img {
  max-width: 70vw;
  max-height: 70vh;
  position: relative;
  left: 60vw;
}

#second-page {
  height: auto;
  width: 100%;
  background-color: rgb(24, 23, 23);
  padding-bottom: 28vh;
}
#second-page .upper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 12vh;
}
#second-page .upper .border-top {
  border-top: 2px solid #947cf5;
  width: 7vw;
  height: 0px;
}
#second-page .upper .heading {
  font-size: 20px;
  color: white;
  padding-top: 4vh;
  font-family: "Roboto", serif;
}
#second-page .upper .heading h1 span {
  color: #7453fc;
}
#second-page .type .icons {
  margin-top: 15vh;
}
#second-page .type .icons .product {
  border: 2px solid #47494b;
  background-color: #282b30;
  border-radius: 20px;
  padding: 40px !important;
  padding-left: 60px;
  padding-right: 60px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 12vw;
  margin-left: 1vw;
}
#second-page .type .icons .product img {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: white;
  padding: 1vw;
  padding-left: 1vw;
  border-radius: 50%;
  position: relative;
  top: 1vh;
}
#second-page .type .icons .product h1 {
  position: relative;
  top: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  font-size: 15px;
}
#second-page .brd {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16vh;
}
#second-page .brd .brd-top {
  border-bottom: 2px solid #7453fc;
  width: 7vw;
  height: 0px;
}
#second-page .brd .collect {
  color: white;
  margin-top: 6vh;
  font-size: 20px;
  font-family: "Roboto", serif;
}
#second-page .brd .collect span {
  color: #7453fc;
}
#second-page .collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#second-page .collection .clct-1 {
  border-bottom: none;
  width: 25vw;
  gap: 1vw;
  margin: 1vw;
  background-color: #282b30;
  border-radius: 20px;
}
#second-page .collection .clct-1 img {
  width: 25vw;
  height: 45vh;
  padding: 1vw;
  position: relative;
  right: 1vw;
  bottom: 2vh;
}
#second-page .collection .clct-1 .gene {
  font-size: 13px;
  color: white;
  position: relative;
  left: 1vw;
  padding-bottom: 2vh;
  font-family: "Roboto", Serif;
}
#second-page .collection .clct-1 .item-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid rgb(181, 176, 176);
  width: 22vw;
  position: relative;
  left: 1vw;
  font-family: "Roboto", Serif;
}
#second-page .collection .clct-1 .item-1 .section-1 {
  color: white;
  font-family: "Roboto", Serif;
  padding-top: 3vh;
}
#second-page .collection .clct-1 .item-1 .section-1 p {
  font-size: 13px;
  padding-bottom: 1vh;
}
#second-page .collection .clct-1 .item-1 .section-1 h2 {
  font-size: 18px;
}
#second-page .collection .clct-1 .item-1 .section-2 {
  color: white;
  font-family: "Roboto", Serif;
  padding-top: 3vh;
}
#second-page .collection .clct-1 .item-1 .section-2 p {
  font-size: 13px;
  padding-bottom: 1vh;
  position: relative;
  left: 4vh;
}
#second-page .collection .clct-1 .item-1 .section-2 h2 {
  font-size: 18px;
}
#second-page .collection .explore {
  display: flex;
  justify-content: center;
}
#second-page .collection .explore button {
  background-color: #7453fc;
  color: white;
  width: 22vw;
  height: 7vh;
  border-radius: 22px;
  border: none;
  position: relative;
  top: 2vh;
  font-family: "Roboto", Serif;
  font-size: 15px;
  border-radius: 20px;
}

#create-nft {
  width: 100%;
  height: 80vh;
  background: linear-gradient(to right, #7a56f4, #9a58f3);
}
#create-nft .left-side {
  margin-left: 6vw;
  padding-top: 12vh;
}
#create-nft .left-side .top-border {
  border-top: 2px solid rgb(255, 252, 252);
  width: 6vw;
  position: relative;
  top: 6vh;
}
#create-nft .left-side .top-btn button {
  width: 12vw;
  height: 7vh;
  background-color: #542cf8;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 1.1%;
  padding-left: 2%;
  position: relative;
  left: 75vw;
  top: 6vh;
  color: white;
  border-radius: 25px;
  border: none;
  font-family: "Roboto", Serif;
  font-size: 14px;
}
#create-nft .left-side .heading-top h1 {
  font-size: 30px;
  color: white;
  font-family: "Roboto", Serif;
  padding-top: 3vh;
}
#create-nft .left-side .info {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
#create-nft .left-side .info .setup .ic {
  border: 1px solid #7453fc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
}
#create-nft .left-side .info .setup .information {
  color: white;
  padding-right: 2vw;
}
#create-nft .left-side .info .setup .information h1 {
  padding-top: 4vh;
  font-size: 20px;
  font-family: "Roboto", Serif;
}
#create-nft .left-side .info .setup .information p {
  padding-top: 3vh;
  font-size: 15px;
  font-family: "Roboto", Serif;
  line-height: 4vh;
}
#create-nft .left-side .info .add {
  border-left: 1px solid white;
  position: relative;
  overflow: hidden;
}
#create-nft .left-side .info .add .ic-2 {
  border: 1px solid #7453fc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-left: 2vw;
}
#create-nft .left-side .info .add .information {
  color: white;
  padding-right: 2vw;
  margin-left: 2vw;
}
#create-nft .left-side .info .add .information h1 {
  padding-top: 4vh;
  font-size: 20px;
  font-family: "Roboto", Serif;
}
#create-nft .left-side .info .add .information p {
  padding-top: 3vh;
  font-size: 15px;
  font-family: "Roboto", Serif;
  line-height: 4vh;
}
#create-nft .left-side .info .sell {
  border-left: 1px solid white;
  position: relative;
  overflow: hidden;
}
#create-nft .left-side .info .sell .ic-3 {
  border: 1px solid #7453fc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-left: 2vw;
}
#create-nft .left-side .info .sell .information {
  color: white;
  padding-right: 2vw;
  margin-left: 2vw;
}
#create-nft .left-side .info .sell h1 {
  padding-top: 4vh;
  font-size: 20px;
  font-family: "Roboto", Serif;
}
#create-nft .left-side .info .sell p {
  padding-top: 3vh;
  font-size: 15px;
  font-family: "Roboto", Serif;
  line-height: 4vh;
}

#last-page {
  width: 100%;
  height: auto;
  background-color: rgb(24, 23, 23);
}
#last-page .marketplace-1 .contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#last-page .marketplace-1 .contain .markets h1 {
  font-size: 30px;
  color: white;
  font-family: "Roboto", Serif;
  margin-top: 17vh;
  margin-left: 8vw;
}
#last-page .marketplace-1 .contain .markets h1 span {
  color: #7453fc;
  border-top: 1px solid #7453fc;
  padding-top: 5vh;
}
#last-page .marketplace-1 .contain .market-links {
  display: flex;
  flex-direction: row;
}
#last-page .marketplace-1 .contain .market-links ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
  margin-top: 15vh;
  margin-right: 7vw;
}
#last-page .marketplace-1 .contain .market-links ul li {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: "Roboto", Serif;
}
#last-page .marketplace-1 #checker:checked .first-item {
  display: none;
}
#last-page .marketplace-1 .items-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 3vw;
  margin-right: 3vw;
}
#last-page .marketplace-1 .items-all .first-item {
  border: 1px solid rgb(55, 54, 54);
  width: 40vw;
  height: 55vh;
  border-radius: 20px;
  background-color: #262525;
  display: flex;
  color: white;
  margin-top: 10vh;
}
#last-page .marketplace-1 .items-all .first-item .ghost {
  position: relative;
  top: 5vh;
  left: 2vw;
  border: 1px solid transparent;
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
}
#last-page .marketplace-1 .items-all .first-item .ghost-info {
  position: relative;
  left: 5vw;
  top: 5vh;
}
#last-page .marketplace-1 .items-all .first-item .ghost-info .super h1 {
  font-size: 20px;
  font-family: "Roboto", Serif;
}
#last-page .marketplace-1 .items-all .first-item .ghost-info .author {
  margin-top: 3vh;
}
#last-page .marketplace-1 .items-all .first-item .ghost-info .author .quick {
  display: flex;
  flex-wrap: wrap;
}
#last-page .marketplace-1 .items-all .first-item .ghost-info .author .quick img {
  border: 1px solid transparent;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  border-radius: 50%;
}
#last-page .marketplace-1 .items-all .first-item .ghost-info .author .quick .user {
  position: relative;
  top: 1vh;
  left: 1vw;
}
#last-page .marketplace-1 .items-all .first-item .ghost-info .author .quick .user span {
  color: #542cf8;
}
#last-page .marketplace-1 .items-all .first-item .ghost-info .author hr {
  width: 21vw;
  color: #47494b;
  margin-bottom: 5vh;
  margin-top: 5vh;
}
#last-page .marketplace-1 .items-all .first-item .ghost-info .author .bid .current-bid {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#last-page .marketplace-1 .items-all .first-item .ghost-info .author .bid .current-bid .time {
  position: relative;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: "Roboto", Serif;
}
#last-page .marketplace-1 .items-all .first-item .ghost-info .author .bid .current-bid .time p {
  display: flex;
  justify-content: end;
  font-size: 15px;
  word-spacing: 2px;
  margin-bottom: 2vh;
}
#last-page .marketplace-1 .items-all .first-item .ghost-info .author .bid .current-bid .time h1 {
  font-size: 20px;
  margin-bottom: 2vh;
}
#last-page .marketplace-1 .items-all .first-item .ghost-info .author .bid .current-bid .bidder {
  font-family: "Roboto", Serif;
}
#last-page .marketplace-1 .items-all .first-item .ghost-info .author .bid .current-bid .bidder p {
  display: flex;
  justify-content: end;
  font-size: 15px;
  word-spacing: 2px;
  margin-bottom: 2vh;
  display: flex;
  justify-content: start;
}
#last-page .marketplace-1 .items-all .first-item .ghost-info .author .bid .current-bid .bidder h1 {
  font-size: 20px;
  margin-bottom: 2vh;
}
#last-page .marketplace-1 .items-all .first-item .ghost-info .author .bid .item-detail {
  margin-top: 3vh;
}
#last-page .marketplace-1 .items-all .first-item .ghost-info .author .bid .item-detail a {
  color: #7453fc;
  font-family: "Roboto", Serif;
}/*# sourceMappingURL=style.css.map */