
$font-family: "Roboto", Serif;
*{
    margin: 0px;
    padding: 0px;
}
#navbar{
    position: absolute;
    right: 10vw;
    top: 4vh;
    width: 80%;
    height: 14vh;
    border-radius: 50px;
    background-color: white;
        .tophead{
            .container{
                display:flex ;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                .logo{
                    img{
                        display: block;
                        align-items: center;
                        position: relative;
                        top: 2vh;
                        left: 2vw;
                    }
                }
                .menu{
                    // padding-left: 2vw;
                    ul{
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    padding-top: 4vh;
                    padding-right: 4vw;
                        
                    }
                    li{
                        .first-link{
                            a{
                                background-color: #7453fc;
                            // border: 1px solid blue;
                            color: white;
                            padding: .7vw;
                            margin: 1vw;
                            border-radius: 18px;
                            text-decoration: none;
                            padding: 2vw;
                            font-size: 16px;
                            font-family: "Roboto", serif;
                            font-weight: 400;
                            word-spacing: 2px;
                            transition: background-color 0.3s, color 0.3s;
                            padding: .7vw;
                            margin: 1vw;
                            border-radius: 15px;

                            }
                        }
                        .linking{
                            a{
                                text-decoration: none;
                                padding: 2vw;
                                font-size: 16px;
                                font-family: "Roboto", serif;
                                font-weight: 400;
                                color: black;
                                word-spacing: 2px;
                                transition: background-color 0.3s, color 0.3s;
                                padding: .7vw;
                                margin: 1vw;
                                border-radius: 15px;
                            }
                            a:hover{
                                background-color: #7453fc;
                                // border: 1px solid blue;
                                color: white;
                                padding: .7vw;
                                margin: 1vw;
                                border-radius: 18px;
                            }
                        }
                    }
                    }   
                }
            }
            .fixed {
                       position: fixed; 
                       top: 0;
                       left: 0;
                       right: 0;
                       width: 100%;
                       height: 100px; 
                       margin: 0; 
                       border-radius: 0;
                       z-index: 1000;
                       box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                   } 
        } 

#homepage{
    background-image: url(/multi-page-website/images/banner-bg.jpg);
    width: 100%;
    height: 140vh;
    background-repeat: no-repeat;
    background-size: cover ;
    .lhs{
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 40%;
        position: relative;
        top: 50vh;
        left: 8vw;
        gap: 30px;
        .main-h{
            font-size: 26px;
            font-family: $font-family;
        }
        .second-h{
            font-size: 30px;
            font-family: $font-family;
            line-height: 8vh;
        }
        .paragraph{
            font-size: 16px;
            font-family: $font-family;
            line-height: 4vh;
            word-spacing: 1px;

        }
        .button{
            .explore{
                border: 1px solid #7453fc;
                font-weight: 540;
                height: 7vh;
                width: 11vw;
                background: transparent;
                color: white;
                border-radius: 25px;
                font-size: 15px;
                transition: background-color 0.5s ease, color 0.5s ease;
                display: inline-block;
                flex-wrap: wrap;
            }
            .watch{
                border: 1px solid #7453fc;
                font-weight: 540;
                height: 7vh;
                width: 11vw;
                // background: transparent;
                background-color:#7453fc;
                color: white;
                border-radius: 25px;
                margin-left: 1vw;
                font-size: 15px;
                transition: background-color 0.5s ease, color 0.5s ease;
                display:inline-block;
                flex-wrap: wrap;
            }
            .explore:hover{
                background-color: #7453fc;
            }
            .watch:hover{
                background-color: white;
                color: #7453fc;
            }

        }
    }
        .man{
            img{
                width: 33vw;
                height: 65vh;
                position: relative;
                right: 2vw;
                left: 60vw;
                top: 0;
                margin-bottom: 10vh;
                display: flex;
                flex-wrap: wrap;
            }
        }
}
#second-page{
    height: auto;
    width: 100%;
    background-color: rgb(24, 23, 23);
    // margin-bottom: 40vh;
    // padding-bottom: 28vh;
    padding: 120px 0 150px 0;

    .upper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 12vh;
        .border-top{
            border-top: 2px solid #947cf5;
            width: 7vw;
            height: 0px;
        }
        .heading{
            font-size: 20px;
            color: white;
            padding-top: 4vh ;
            font-family: "Roboto", serif;
            h1{
                span{
                    color: #7453fc;
                }
            }
        }
    }
    .type{
        .icons{
            margin-top: 15vh;
            display: flex !important;
            flex-wrap: wrap;
            flex-direction: row;
            margin: 15vh;
            .item-box{
                border: 1px solid #404245;
                height: 15vh;
                width: 8vw;
                // display: flex;
                // flex-direction: row;
                // flex-wrap: wrap;
                background-color: #282b2f;
                text-align: center;
                padding: 30px;
                border-radius: 20px;
                position: relative;
                margin-left: 3vh; 
                .product{
                    width: 62px;
                    height: 62px;
                    display: inline-block;
                    justify-content: center;
                    text-align: center;
                    line-height: 12vh;
                    background-color: #fff;
                    border-radius: 50%;
                    transition: 0.5s ease-out;
                    img{
                        max-width: 31px;                
                    }
                }
                    h1{
                        position: relative;
                        top: 2vh;
                        // right: 1vw;
                        // left: 1vw;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        color: white;
                        font-size: 15px;
                    }   
                    .plus{
                        position: relative;
                        top: 5vh;
                        left: 2.3vw;
                        // border: 1px solid white;
                        border-radius: 50%;
                        width: 3vw;
                        height: 6vh;
                        display: none;
                        i{
                            color: #542cf8;
                        }
                    } 
                    }
            }
            .item-box:hover{
                .plus{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: center;
                    background-color: white;
                    transition: background-color 0.3s ease-out;
                }
                .plus:hover{
                    background-color: #542cf8;
                    i{
                        color: white;
                    }
            }
            
            }

        }
    .brd{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 16vh;
        .brd-top{
            border-bottom: 2px solid #7453fc;
            width: 7vw;
            height: 0px;
        }
        .collect{
            color: white;
            margin-top: 6vh;
            font-size: 20px ;
            font-family: "Roboto", serif;
            margin-bottom: 5vh;
            span{
                color: #7453fc;
            }
        }
    }
    .collection{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .clct-1{
            border-bottom: none;
            width: 25vw;
            gap: 1vw;
            margin: 1vw;
            background-color: #282b30;
            border-radius: 20px;
            img{
                width: 25vw;
                height: 45vh;
                padding: 1vw;
                // border-bottom: 1px solid white;
                position: relative;
                right: 1vw;
                bottom: 2vh;
            }
            .gene{
                font-size: 13px;
                color: white ;
                position: relative;
                left: 1vw;
                padding-bottom: 2vh;
                font-family: $font-family;
            }
            .item-1{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                border-top: 1px solid rgb(181, 176, 176);
                width: 22vw;
                position: relative;
                left: 1vw;
                font-family: $font-family;
                .section-1{
                    color: white;
                    font-family: $font-family;
                    padding-top: 3vh;
                    p{
                        font-size: 13px;
                        padding-bottom: 1vh;
                    }
                    h2{
                        font-size: 18px;
                    }
                }
                .section-2{
                    color: white;
                    font-family: $font-family;
                    padding-top: 3vh;
                    p{
                        font-size: 13px;
                        padding-bottom: 1vh;
                        position: relative;
                        left: 4vh;
                    }
                    h2{
                        font-size: 18px;
                    }
                }
    
            }

        }
        .explore{
            display: flex;
            justify-content: center;
            button{
                background-color: #7453fc;
                color: white;
                width: 22vw;
                height: 7vh;
                border-radius: 22px;
                border: none;
                // position: absolute;
                position: relative;
                top: 2vh;
                font-family: $font-family;
                font-size: 15px ;
                border-radius: 20px;
            }      
        }
    }
}
#create-nft{
    width: 100%;
    height: 80vh;
    background: linear-gradient(to right,#7a56f4,#9a58f3) ;
    .left-side{
        margin-left: 6vw;
        padding-top: 12vh;
        .top-border{
            border-top: 2px solid rgb(255, 252, 252);
            width: 6vw;
            position: relative;
            top: 6vh;
        }
        .top-btn{
              button{
                width: 12vw;
                height: 7vh;
                background-color: #542cf8;
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                padding-top: 1.1%;
                padding-left: 2%;
                position: relative;
                left: 75vw;
                top: 6vh;
                color: white;
                border-radius: 25px;
                border: none;
                font-family: $font-family;
                font-size: 14px;
                }
    
            }
        .heading-top{
            h1{
                font-size: 30px;
                color: white;
                font-family: $font-family;
                padding-top: 3vh;
            }

        }
        .info{
            display: flex;
            // flex-wrap: wrap;
            justify-content: center;
            margin-top: 10vh;
            .setup{
                .ic{
                    border: 1px solid #7453fc;
                    // padding: 10px;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                }
                .information{
                    color: white;
                    padding-right: 2vw;
                    h1{
                        padding-top: 4vh;
                        font-size: 20px;
                        font-family: $font-family;
                    }
                    p{
                        padding-top: 3vh;
                        font-size: 15px;
                        font-family: $font-family; 
                        line-height: 4vh;
                    }
                }

            }
            .add{
                border-left: 1px solid white;
                position: relative;
                overflow: hidden;

                .ic-2{
                    border: 1px solid #7453fc;
                    // padding: 10px;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    margin-left: 2vw;
                }
                .information{
                    color: white;
                    padding-right: 2vw;
                    margin-left: 2vw;
                    h1{
                        padding-top: 4vh;
                        font-size: 20px;
                        font-family: $font-family;
                    }
                    p{
                        padding-top: 3vh;
                        font-size: 15px;
                        font-family: $font-family; 
                        line-height: 4vh;
                    }
              }
            }
            .sell{
                border-left: 1px solid white;
                position: relative;
                overflow: hidden;
                .ic-3{
                    border: 1px solid #7453fc;
                    // padding: 10px;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    margin-left: 2vw ;
                }
                .information{
                    color: white;
                    padding-right: 2vw;
                    margin-left: 2vw;
                    }

                    h1{
                        padding-top: 4vh;
                        font-size: 20px;
                        font-family: $font-family;
                    }
                    p{
                        padding-top: 3vh;
                        font-size: 15px;
                        font-family: $font-family; 
                        line-height: 4vh;
                    }
              }
            }
        }
    }
#last-page{
    width: 100%;
    height: auto;
    background-color: rgb(24, 23, 23);

    .marketplace-1{
        .contain{
            display: flex;
            flex-wrap: wrap                                                               ;
            justify-content: space-between;
            .markets{
                h1{
                    font-size: 30px;
                    color: white;
                    font-family: $font-family;
                    margin-top: 17vh;
                    margin-left: 8vw;
                    span{
                        color: #7453fc;
                        border-top: 1px solid #7453fc;
                        // padding-bottom: 5vh;
                        padding-top: 5vh;
                        
                    }
                }
            }
            .market-links{
                display: flex;
                flex-direction: row;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 3vw;
                    margin-top: 15vh;
                    // margin-left: 5vw;
                    // position: relative;
                    // left: 5vw;
                    margin-right: 7vw;
                    // margin-left: 12vw;
                    li{
                        list-style: none;
                            text-decoration: none;
                            color: white;
                            font-size: 16px;
                            font-family: $font-family;
                        }
                        li:hover{
                            color: #7453fc;
                            label{
                                cursor:pointer;
                            }
                        }
              }
           }
   }
#checker{
    &:checked{
        .first{
            display: none;
        }
    }
}
   
        .items-all{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-left: 3vw;
            margin-right: 3vw;
            .first-item{
                border: 1px solid rgb(55, 54, 54);
                width: 40vw;
                height: 55vh;
                border-radius: 20px;
                background-color: #262525;
                display: flex;
                color: white;
                margin-top: 10vh;
                .ghost{
                    position: relative;
                    top: 5vh;
                    left: 2vw;
                    border: 1px solid transparent;
                    overflow: hidden;
                    width: fit-content;
                    height: fit-content;
                    border-radius: 20px;
                }
                .ghost-info{
                    position: relative;
                    left: 5vw;
                    top: 5vh;
                    .super{
                        h1{
                            font-size: 20px;
                            font-family: $font-family;
                        }
                    }
                    .author{
                        margin-top: 3vh;
                        // display: flex;
                        .quick{
                            display: flex;
                            flex-wrap: wrap;
                            // justify-content: space-between;
                            img{
                                border: 1px solid transparent;
                                width: fit-content;
                                height: fit-content;
                                overflow: hidden;
                                border-radius: 50%;
                            }
                            .user{
                                position: relative;
                                top: 1vh;
                                left: 1vw;
                                span{
                                    color: #542cf8;
                                }
                            }
    
                        }
                        hr{
                            width: 21vw;
                            color: #47494b;
                            margin-bottom: 5vh;
                            margin-top: 5vh;
                        }
                        .bid{
                            .current-bid{
                                display: flex;
                                justify-content: space-between;
                                position: relative;
                                // top: 5vh;
                                .time{
                                    position: relative;
                                    // left: 5vw;
                                    right: 0;
                                    top: 0;
                                    bottom: 0;
                                    font-family: $font-family;
                                    p{
                                        display: flex;
                                        justify-content: end;
                                        font-size: 15px;
                                        word-spacing: 2px;
                                        margin-bottom: 2vh;
                                    }
                                    h1{
                                        font-size: 20px;
                                        margin-bottom: 2vh;
                                    }
                                }
                                .bidder{
                                    font-family: $font-family;
                                    p{
                                        display: flex;
                                        justify-content: end;
                                        font-size: 15px;
                                        word-spacing: 2px;
                                        // margin-top: 2vh;
                                        margin-bottom: 2vh;
                                        display: flex;
                                        justify-content: start;
                                    }
                                    h1{
                                        font-size: 20px;
                                        margin-bottom: 2vh;
                                    }
                                }
                            }
                            .item-detail{
                                margin-top: 3vh;
                                a{
                                    color: #7453fc;
                                    font-family: $font-family;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }

 }
 #footer{
    width: 100%;
    height: 10vh;
    background-color: #9456f7;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-content{
        p{
            font-size: 15px;
            color: white;
            font-family: $font-family;
            .de{
                padding-left: 1vw;
                .mo{
                    font-weight: 600;
                }
            }
        }

    }
 }
//  ===========css for mobile================
@media(max-width:600px)
{
    .type{
        .icons{
            display: flex;
            justify-content: space-evenly;
            margin: 0;
            padding: 0;
            .item-box{
                display: flex;
                width: 100% !important;
                margin: 5%;
            }
        }

        }
        .brd{
            display: flex;
            justify-content: center;
            text-align: center;
            margin: 0;

        }
    
}
 @media(max-width:800px)
 {
     #navbar{
         .tophead{
             .container{
                 .menu{
                     display: none
                 }
             }
 
         }
         }
     #homepage{
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;
         justify-content: center;
         background-image: url(/multi-page-website/images/banner-bg.jpg);
         width: 100%;
         height: auto;
         background-repeat: no-repeat;
         background-size: cover;
         .lhs{
         width:80%;
         display: flex;
         flex-direction: column;
         // justify-content: center;
         // align-items: center;
         position: relative;
         // padding: 20px;
         top: 25vh;
         left: 10%;
         .button{
             .explore{
                 width: 45%;
                 height: 7vh;
                 position: relative;
             }
             .watch{
                 width: 45%;
                 height: 7vh;
                 position: relative;
                 left: 2vw;
             }
             .explore:hover{
                 background-color: #7453fc;
             }
             .watch:hover{
                 background-color: white;
                 color: #7453fc;
             }
         }
 
 
     }
     .man{
         width: 100% ;
         display: flex;
         flex-wrap: wrap;
         // flex-direction: column;
         justify-content: center;
         align-items: center;
         position: relative;
         // top: 20vh;
         // padding: 20px;
         // left: 20vw;
         right: 80vw;
         img{
             // margin-top: 3000px;
             min-width: 70%;
             min-height: 14%;
             display: flex;
             justify-content: center;
             position: relative;
             // top: 20vh;
             padding-top: 45%;
             padding-left: 40%;
         }
     }
 
     }
     #second-page{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
    //  padding-top: 3vh;
    padding: 0;

     .upper{
         display: flex;
         .heading{
             display: flex;
             flex-wrap: wrap;
             justify-content: center;
            h1{
             position: relative;
            //  left: vw;
            padding-left: 5%;
            }
         }
     }
     .type{
        .icons{
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
            .item-box{
                display: flex;
                width: 30%;
                margin: 5%;
            
            }
        }

        }
    }
    .brd{
        display: flex;
        justify-content: center;
        // text-align: center;
        margin: 0 !important;

    }
    .collection{
        flex-direction: column;
        margin: 0;
        .clct-1{
            width: auto;
            // height: 100%;
            margin: 0;
            .img{
                width: 100vw !important;
                height: 45vh;


            }
        }

    }

    
}
